body {
  margin: auto;
  width: 600px;
}

html {
  background-image: linear-gradient(beige, rgb(128, 160, 229));
}

img {
  height: 250px;
  padding: 15px;
}

div.menu {
  text-align: center;
}

p + h3 {
  margin-bottom: 0.25cm;
  margin-top: 1cm;
}

div.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18pt;
}

div.stuff {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

a:hover {
  font-family: sans-serif;
  color: black;
}

nav ul {
  list-style-type: none;
}
