body {
  margin: auto;
  width: 600px;
}

html {
  background-image: linear-gradient(beige, rgb(128, 160, 229), yellow);
}

img {
  height: 250px;
}

div.menu {
  text-align: center;
  line-height: 3px;
}

div.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18pt;
}

div.cocktails {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.beer {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.apps {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.sushi {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.tacos {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.dessert {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

div.sake {
  text-align: center;
  font-size: large;
  border: 2px;
  border-style: solid;
}

a:hover {
  font-family: sans-serif;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  padding: 15px;
}

div.jal {
  display: flex;
}
